*{
    overflow:hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
nav{
    display: flex;
    width:100%;
    justify-content:space-around;
    align-items: center;
    height: 15vh;
}
.header-button {
    
    margin-right: 0px;
    
    margin: 10px;
    white-space: nowrap;
    /* border-radius: 5px; */
    padding:3px ;
    
    
    
}
nav ul li{
    list-style: none;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-right: 3%;
    /* overflow: visible; */
    /* justify-content: space-evenly; */
    /* width: 100%; */
    
}
nav ul li img{
    width:150px;
    margin-left: 25px;
   
    
}
ul{
    display: flex;
    align-items: center;
    width: 100%;
    /* gap:50px; */
    
    
}
.mainsection{
    display:flex;
    align-items: center;
    
}
.left-main{
    margin-left: 25px;
    color: rgb(15, 16, 76);
    width: 45%; 
}

.right-main img{
    float:left;
    width: 100%
}

h1{
    font-size: 70px;
}
p{
    margin-top: 25px;

}
span{
    color: rgb(116, 117, 218);
}
button{
    background-color: rgb(116, 117, 218);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border:none;
}
.mainsection-button{
    margin-top: 35px;
}